[submodule "externals/dmdirc"]
	path = externals/dmdirc
	url = ssh://renji.org.uk/home/dmdirc/git/client/
[submodule "externals/evetool"]
	path = externals/evetool
	url = ssh://renji.org.uk/home/chris/git/evetool/
[submodule "externals/util"]
	path = externals/util
	url = ssh://renji/home/chris/git/util
[submodule "externals/dmdirc-plugins"]
	path = externals/dmdirc-plugins
	url = git://dmdirc.com/plugins
[submodule "externals/dmdirc-util"]
	path = externals/dmdirc-util
	url = git://dmdirc.com/util
[submodule "externals/dmdirc-parser"]
	path = externals/dmdirc-parser
	url = git://dmdirc.com/parser
